/* Paragraph where the device is shown */
.show-device {
	position: absolute;
	z-index: 9;
	bottom: calc(var(--height-footer) - 3vh);
	right: 5vw;
}

.show-device span {
	color: var(--primary-color);
}

.show-device p {
	display: inline;
	color: var(--secondary-color);
}
