html {
	box-sizing: border-box;
	font-size: 16px;
	overflow-x: hidden;
	user-select: none;
	background-color: var(--primary-bg-color);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: var(--font-family);
	line-height: 1.6;
}

/* ********** Custom Properties ********** */
:root {
	--primary-color: #fff;
	--secondary-color: #1db954;
	--primary-bg-color: #121212;
	--bg-color-header: rgb(104, 16, 8);
	--width-menu: clamp(250px, 20vw, 320px);
	--width-header: calc(100% - var(--width-menu));
	--height-footer: 90px;
	--font-family: CircularSp, Comic, Arial;
}

/* ********** Reset ********** */
a,
article,
aside,
audio,
div,
figure,
footer,
form,
h1,
h2,
h3,
h4,
header,
html,
img,
li,
menu,
nav,
p,
span,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
u {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

h2 {
	margin: 1rem;
}

/* ********** Components *************/
/* button */
.play {
	background-color: var(--secondary-color);
	border-radius: 50%;
	border: none;
	margin-top: -0.5rem;
	height: 3rem;
	width: 3rem;
}

.play:hover {
	transform: scale(1.04);
}

.play svg {
	width: 24px;
	height: 24px;
}

.play .pause {
	display: none;
}

/* *** Utilities *** */

/* Add color to options that are active */
.active svg {
	fill: var(--secondary-color);
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.none {
	display: none;
	opacity: 0;
	pointer-events: none;
}
