html {
	box-sizing: border-box;
	font-size: 16px;
	overflow-x: hidden;
	user-select: none;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	font-family: Comic, Arial, Helvetica, sans-serif;
	line-height: 1.6;
}

/* ********** Custom Properties ********** */
:root {
	--primary-color: #fff;
	--secondary-color: #1db954;
	--primary-bg-color: #000;
	--width-menu: clamp(250px, 20vw, 320px);
	--width-header: calc(100% - var(--width-menu));
}

/* ********** Reset ********** */
a,
article,
aside,
audio,
b,
code,
details,
div,
em,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
legend,
li,
menu,
nav,
p,
span,
summary,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
u {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* ********** Components *************/
/* button */
.play {
	background-color: var(--secondary-color);
	border-radius: 50%;
	border: none;
	margin-top: -0.5rem;
	height: 3rem;
	width: 3rem;
}

.play:hover {
	transform: scale(1.04);
}

.play svg {
	width: 24px;
	height: 24px;
}

.play .pause {
	display: none;
}

/* *** Utilities *** */
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.none {
	display: none;
	opacity: 0;
	pointer-events: none;
}

.visible {
	display: initial;
	opacity: 1;
	pointer-events: initial;
}
