h3 {
	font-size: 1.5rem;
	font-weight: 700;
	padding: 10px;
	margin-bottom: 10px;
}

.genre {
	border-radius: 8px;

	width: 100%;
	height: auto;
	/* Form a square */
	aspect-ratio: 1/1;

	font-size: 1.5rem;
	font-weight: 700;

	padding: 16px;
	text-overflow: break-word;
}

/*  */
.header {
	background-color: var(--primary-bg-color);
	padding: 0.5rem 32px;
}

main {
	/* Necessary so that it does not show the initial color */
	background-image: none;
}

.btn-previous-next {
	padding: 0.5rem 0;
}

.information-user {
	padding: 0.5rem 0;
}

/* Form */
/* Styles for the search box */
.inp-search {
	background-color: #242424;
	border: none;
	border-radius: 100px;
	width: 70%;
	height: 48px;

	font-size: 0.875rem;

	padding: 6px 36px;

	position: relative;
	display: flex;
	align-items: center;
	cursor: text;
	z-index: 10;
}

.inp-search svg {
	position: absolute;
	left: clamp(10px, 1vw, 14px);
	cursor: default;
}

.inp-search input {
	background-color: inherit;
	color: var(--primary-color);
	border: 0;
	width: 100%;

	caret-color: var(--secondary-color);
}

.inp-search input:focus-visible {
	outline: none;
}

/* Animation of bottom */
/* The line that is seen as soon as we focus our input */
.animation-input {
	position: relative;
	overflow: hidden;
}

.animation {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 1px;
	background-color: var(--secondary-color);
	transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
	left: 0;
}

/* When the input is in focus our animation will be done */
.inp-search input:focus-visible ~ .animation {
	width: 100%;
}

/* Show results */
/* Charts of genre recommendations */
.genre-recommendations {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(157px, 1fr));
	gap: 18px;
	min-width: 432px;
	min-height: 300px;
	cursor: pointer;
}

.search-songs {
	width: 100%;
}

.search-songs tbody tr {
	color: #b3b3b3;
	height: 56px;
	padding: 0 16px;

	display: grid;
	grid-template-columns: 50px 4fr minmax(120px, 1fr);
	align-items: center;
	justify-content: start;
	gap: 16px;
}

.search-songs img {
	width: 40px;
	height: auto;
	aspect-ratio: 1/1;
	border-radius: 5px;
}
