/* Define how our elements will be displayed */
.container-playlists {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
	justify-content: space-around;
	grid-auto-rows: 1fr;
	gap: 24px;
}

figure {
	width: 100%;
	background-color: #242424;
	padding: 1rem;
	color: #fff;
	margin: 0;

	position: relative;
}

figure img {
	border-radius: 5px;
	width: 100%;
	height: auto;
	aspect-ratio: 1/1;
	margin-bottom: 16px;
}

figure h4 {
	font-weight: bold;
	font-size: 1rem;
}

figure p {
	font-size: 0.875rem;
	margin: 8px 0;
	opacity: 0.7;
}

main {
	background-image: none;
	padding: 0 32px;
	padding-bottom: var(--height-footer);
}

h2 {
	margin: 16px 0;
}

h3 {
	font-size: 2rem;
	font-weight: 700;
	padding-bottom: 4px;
}

/* This card occupies double */
.card-liked-songs {
	font-size: 1rem;
	background-image: linear-gradient(149.46deg, #450af5, #8e8ee5 99.16%);
	border-radius: 7px;
	grid-column: span 2;
	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 20px;
	height: 100%;

	position: relative;
}

/* Container to display the liked songs with artists */
.songs {
	max-height: 130px;

	-webkit-box-orient: vertical;
	-moz-box-flex: 1;
	-webkit-line-clamp: 3;
	-webkit-box-align: end;
	display: -webkit-box;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	width: 100%;
	height: auto;

	margin-bottom: 12px;
	text-align: justify;
}

.songs span {
	font-size: 1rem;
}

/* button animation */
main button {
	opacity: 0;
	display: none;
	pointer-events: none;

	position: absolute;
	right: 20px;
	bottom: 20px;

	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
	transform: translateY(8px);

	transition: all 0.3s ease;
}

.card-liked-songs:hover button {
	display: initial;
	opacity: 1;
	pointer-events: auto;
	transform: translate(0, 0);
}

/* Container to display playlist cards */
.container-img-figure {
	position: relative;
	width: 100%;
	height: auto;
}

.container-img-figure button {
	right: 3%;
	bottom: 30px;
}

.container-img-figure:hover button {
	display: initial;
	opacity: 1;
	pointer-events: auto;
	transform: translate(0, 0);
}

/* Inputs */
.core-content a {
	background-color: hsla(0, 0%, 100%, 0.1);
	border-radius: 32px;
	color: #fff;
	text-decoration: none;
	font-size: 0.875rem;
	font-weight: 700;
	padding: 0.5rem;

	line-height: 1;
}
