/*** Header ***/
header {
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;
}

/* General styles */
.header {
	background-color: var(--bg-color-header);
	color: white;
	width: var(--width-header);

	min-width: 680px;
	position: absolute;
	left: var(--width-menu);
	height: 4rem;
	padding: 1rem 32px;
}

/* Container for define spaces */
.content-header {
	display: grid;
	grid-template-columns: 15% 60% 30%;
}

/*** Buttons ***/
/* Previous */
.btn-previous-next {
	display: flex;
	gap: 8px;
	width: 6rem;
	height: 2rem;
}

.previous {
	background-color: #000;
	border-radius: 50%;
	border: none;

	height: 32px;
	width: 32px;

	opacity: 0.6;
}

.previous svg {
	fill: #fff;
	width: 16px;
	height: 16px;
}

/* Next */
.next {
	background-color: #000;
	border-radius: 50%;
	border: none;
	width: 32px;
	height: 32px;
	opacity: 0.6;
}

.next svg {
	fill: #fff;
	width: 16px;
	height: 16px;
}

/*** Core Content ***/
.core-content {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	transition: opacity 0.4s ease-in-out;
}

/* Name user */
.content-header .core-content span {
	font-size: 1.5rem;
	font-weight: 700;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Information user */
.information-user {
	position: absolute;
	right: 2vw;
	width: 80%;
	max-width: 200px;
	height: 2rem;
}

/* For show account options */
.information-user button {
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 23px;
	border: 0;
	height: 2rem;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	padding: 2px;
	position: relative;
}

.information-user button:hover {
	background-color: #282828;
}

.information-user img {
	position: absolute;
	left: 5%;
	top: 5%;
	border-radius: 50%;
	width: 28px;
	height: 28px;
}

/* Name */
.information-user span {
	position: absolute;
	left: 20%;
	display: inline-block;
	font-weight: bold;
	color: #fff;
	white-space: nowrap;
	margin-left: 10px;
	max-width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.information-user svg {
	position: absolute;
	right: 5%;
	fill: #fff;
	display: block;
}

/* Div for show options */
.content-menu-profile {
	background-color: gray;
	width: 190px;
	font-size: 0.875rem;

	position: absolute;
	inset: 0px 0px auto auto;
	transform: translate(calc(-2vw), 48px);
	transition: opacity 0.3s ease-in-out;
}

.content-menu-profile ul {
	list-style-type: none;
	padding: 4px;
	margin: 0;
}

.content-menu-profile li {
	display: flex;
	gap: 8px;
	justify-content: space-between;
	align-items: center;
	padding-right: 8px;
	height: 40px;
}

.content-menu-profile p {
	margin: 0;
}
